<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
   </ion-buttons>
   <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="loaded">
    <img 
    src="../../../assets/default-profile-image.jpg" 
    alt="default-image-person"
      style="height: 120px; border-radius: 50%; padding: 1rem;"
      >
    <p>Client N° {{ id }}</p>
    <p>Nombres: {{ selectedClient.name }} </p>
    <p>Apellidos: {{ selectedClient.lastName }} </p>
    <p>Telefono: {{ selectedClient.phone }} </p>
    <p>Barrio: {{ selectedClient.neighborhood }} </p>
    <p>Dirección: {{ selectedClient.address }} </p>
  </div>
  <div *ngIf="!loaded">Loading.....</div>
  <!----------- action buttons --------->
  <ion-button color="danger" (click)="deleteClient()">
    <i class="bi bi-trash"></i>
  </ion-button>
  <!-- modify data button-->
  <ion-button (click)="goToUpdateView()" color="warning">
    <i class="bi bi-pencil"></i>
  </ion-button>
</ion-content>